<div class="row-fluid">
  <div class="col-md-12">
    <%= link_to "Compose <i class='icon icon-edit'></i>".html_safe, new_conversation_path, class: "btn btn-success" %>
  </div>
  <hr>
</div>
<div class="row-fluid">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages/messages_folder_nav' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
            <%= render 'conversations/form' %>
        <% else %>
          <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>

</div>