  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <%= form_for current_user, url: profile_path, method: 'put',  html: {multipart: true, role: 'form'} do |f| %>

        <%= render partial: 'shared/errors_explanation', locals: {errors: current_user.errors} %>

        <h3>Edit Your Profile</h3>
        <hr class="colorgraph">

        <div class="form-group">
          <%= f.text_field :name, autofocus: true, class: "form-control input-md date", placeholder: 'Name', tabindex: '1' %>
        </div>

        <%= f.fields_for :profile, current_user.profile do |p| %>

        <div class="form-group">
          <%= p.file_field :avatar, autofocus: true, class: "form-control input-md", tabindex: '2' %>
        </div>

        <div class="form-group">
          <%= p.text_field :date_of_birth, class: "form-control input-md date", placeholder: 'Birth Date', tabindex: '3' %>
        </div>

        <div class="form-group">
          <%= p.text_field :address, class: "form-control input-md", placeholder: 'Address', tabindex: '4' %>
        </div>

        <div class="form-group">
          <%= p.text_field :city, class: "form-control input-md", placeholder: 'City', tabindex: '5' %>
        </div>

        <div class="form-group">
          <%= p.text_field :province, class: "form-control input-md", placeholder: 'Province', tabindex: '6' %>
        </div>

        <div class="form-group">
          <%= p.text_field :mobile, class: "form-control input-md", placeholder: 'Mobile', tabindex: '7' %>
        </div>

        <div class="form-group">
          <%= p.text_area :description, placeholder: 'About you!', class: 'form-control input-md', tabindex: '8' %>
        </div>

        <% end %>
        <hr class="colorgraph">

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.submit "Update", class: 'btn btn-primary btn-block', tabindex: '9' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= link_to "Cancel", profile_path, class: 'btn-success btn btn-block' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

<%= content_for :script do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.date').datepicker();
    });
  <% end %>
<% end %>