  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <%= form_for current_user, url: profile_path, method: 'put',  html: {multipart: true, role: 'form'} do |f| %>

        <%= render partial: 'shared/errors_explanation', locals: {errors: current_user.errors} %>

        <h3>Change Password</h3>
        <hr class="colorgraph">

        <div class="form-group">
          <%= f.password_field :current_password, autofocus: true, class: "form-control input-md", placeholder: 'Your current password', tabindex: '1' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autofocus: true, class: "form-control input-md", tabindex: '2', placeholder: 'Your new password' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autofocus: true, class: "form-control input-md date", placeholder: 'New password confirmation', tabindex: '3' %>
        </div>

        <hr class="colorgraph">

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.submit "Change", class: 'btn btn-primary btn-block', tabindex: '9' %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= link_to "Cancel", profile_path, class: 'btn-success btn btn-block' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>