<% if current_user.follows?(person) %>
  <%= link_to 'unfollow', unfollow_person_path(person), class: 'btn btn-sm btn-danger', method: :post %>
<% else %>
  <%= link_to 'follow', follow_person_path(person), class: 'btn btn-sm btn-success', method: :post %>
<% end %>