<%= render 'shared/no_query_found' if people.blank? %>
<% people.each do |person| %>
    <div class="panel panel-default col-md-3">
        <div class="panel-heading">
            <%= image_tag avatar(person), class: 'img-circle pull-left', width: 75, height: 75 %>
            <h4>
                <%= link_to person.name, person_path(person) %>
            </h4>
            <small>
                <span>Last update</span> - <span><%= time_ago_in_words person.updated_at %> ago</span>
            </small>
        </div>
        <div class="panel-body">
            <article>
                <p>
                <%= person.status %>
                 have a MySQL database of keywords that are presently mixed-case. However, I want to convert them all to lowercase. Is there an easy command to do this, either using MySQL or MySQL and PHP?
                </p>
            </article>
            <div class="pull-right">
                <%= render 'people/follow_buttons', person: person %>
            </div>
        </div>
    </div>
<% end %>