<%= render partial: 'shared/errors_explanation', locals: {errors: @mailboxer.errors } unless @mailboxer.nil? %>

<%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
    <div class="form-group">
      <%= f.text_field :subject, placeholder: "Subject Reply", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
    </div>
    <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
<% end %>