<div id="flash-message" class="row">
<% [:notice, :error, :alert, :success].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="alert alert-<%= alert_class(level) %> flash-message">
    <button type='button' class='close' data-dismiss='alert'>
      <i class='icon-remove'></i>
    </button>
    <center>
      <strong><%=flash[level]%></strong>
    </center>
  </div>
  <% end %>
<% end %>
</div>