<%= form_tag search_route, method: 'get', class: 'navbar-form navbar-left', role: 'search' do  %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'search' %>
  </div>
  <button type="submit" class="btn btn-default">Search</button>
<% end %>