<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default navbar" role="navigation">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="#">Open World</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<%= link_to 'Dashboard', root_path %>
					</li>
					<li>
						<%= link_to 'People', people_path %>
					</li>
				</ul>

				<%= render partial: 'shared/form_search' %>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<li>
							<%= link_to "Inbox <span class='label label-danger pull-right'>#{unread_messages_count}</span>".html_safe, messages_inbox_path %>
						</li>
					</li>
					<li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to "<i class='icon icon-user'></i> Profile".html_safe, profile_path %>
								</li>
								<li>
									<%= link_to "<i class='icon icon-lock'></i> Change Password".html_safe, edit_password_profile_path %>
								</li>
								<li class="divider">
								</li>
								<li>
									<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
								</li>
							</ul>
						</li>
					</li>
				</ul>
			</div>

		</nav>
	</div>
</div>