<div class="col-md-12">
  <div class="alert alert-dismissable alert-warning">

    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      ×
    </button>
    <div class="center-text">
         <strong>No query found.</strong>
    </div>
  </div>
</div>