<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h3>Log in</h3>
      <hr class="colorgraph">

      <div class="form-group">
        <%= f.text_field :email, autofocus: true, class: "form-control input-md", placeholder: 'Email', tabindex: '3' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autofocus: true, class: "form-control input-md", placeholder: 'Password', tabindex: '3' %>
      </div>

      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>

      <hr class="colorgraph">
      <%= render "devise/shared/links" %>
      <br>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= f.submit "Login", class: 'btn btn-primary btn-block', tabindex: '7' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
