<div class="col-md-12">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'activities/form', activity: current_user.activities.new %>
    <%= render 'activities/activities', {recents_activities: @recents_activities} %>
  </div>
</div>