<div class="activities">

  <%= render 'shared/no_query_found' if recents_activities.blank? %>

  <% recents_activities.each do |activity| %>
    <% if activity.persisted? %>
      <div id="postlist">
        <div class="panel">

          <div class="panel-body">

            <%= activity_attachment activity %>

            <article>
              <%= activity.title %>
              ...<%= link_to 'Read more', activity_path(activity) %>
            </article>
            <small>
              <%= time_ago_in_words activity.updated_at %> ago
            </small>
          </div>

          <div class="panel-footer">
                <small>
                  <%= link_to 'like', '#' %>
                  <%= link_to 'comment', '#' %>
                  <span class='pull-right'>
                    <%= authored_by activity.user %>
                  </span>
                </small>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
  <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Older Activities...</a></div>
</div>