<article>
  <%= form_for activity, html: {multipart: true}, remote: false do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= f.hidden_field :user_id %>

    <%= f.text_area :title, rows: 5, cols: 50, placeholder: 'Share your thoughts here!' %>

    <section class="preview"></section>

    <section class="wall_input-actions">
    <%= f.file_field :image %>
    <%= f.submit 'Post', class: "btn" %>

    <% current_user.identities.each do |identity| %>
      <% f.fields_for new_activity_manifest(f.object) do |m| %>
        <%= m.hidden_field :identity_id %>
        <div class="checkbox">
          <label>
            <%= m.check_box :publish_on, {}, true %>
            <%= identity.provider %>
          </label>
        </div>
        <% end %>
      <% end %>
    </section>
  <%end%>
</article>
