<!DOCTYPE html>
<html>
<head>
  <title>Shareworld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid">
		<%= render 'shared/navigation' %>
		<%= render 'shared/flash' %>
		<%= yield %>
	</div>

	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= yield :script %>
</body>
</html>
